/* Custom properties */
:root {
    --dark-color: #1a1a1a;
    --solid-color: #464646;
    --light-color: #c4c4c4;
    --dark-transparent: rgba(170, 170, 170, 0.7);
    --light-transparent: rgba(170, 170, 170, 0.5);
  }



.product-hero {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
    /* padding: 10rem 30rem; */
  }
  .product-hero img {
      z-index: 1;
  }
  .heading-box {
      position: absolute;
      z-index: 1;
      background-color: rgba(0,0,0,.7);
      padding: 2rem 2rem 2rem 5rem;
  }
  .heading-box .heading {
      color: white;
      font-size: 2rem;
  }

/* Product Content */
.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

/* Catagory */
.catagory-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

.catagory-item {
    list-style: none;
    border-top: 1px solid var(--light-color);
    overflow: hidden;
}
.btn-list {
    display: block;
    padding: 1rem 1.2rem;
    background: var(--dark-color);
    color: white;
    position: relative;
  }
  .catagory-item-sub {
      background: white;
    overflow: hidden;
  }
  .catagory-item-sub a {
    display: block;
    padding: 1rem 1.6rem;
    color: black;
    font-size: 1.2rem;
    position: relative;
    border-bottom: 1px solid var(--light-color);
  }
  .catagory-item-sub a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.8rem;
    height: 100%;
    background: var(--dark-color);
    transform: translatex(-0.4rem);
    transition: 0.3s;
    opacity: 0;
  }
  .catagory-item-sub a:hover::before {
    opacity: 1;
    transform: translatex(0);
  }



/* Product Items */
.grid.product-grid {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    grid-gap: 2rem;
    margin-bottom: 5rem;
}
.product-items {
    padding: 0rem;
}
.product-subtype-heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.img-box {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: .7rem;
}
.img-box img {
    width: 100%;
    height: 100%;
    transition: transform .4s;
}
.product-name {
    font-size: 1.2rem;
}
.sub-product-name {
    font-size: 1.2rem;
    color: gray;
}
.price {
    font-size: 1.2rem;
    font-weight: bold;
}
.view-info {
    font-size: 1.2rem;
    color: white;
    background-color: var(--dark-color);
    padding: .7rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.img-box img:hover {
    transform: scale(1.2);
    transform-origin: 50% 50%;
}
.view-info:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}





/* Media Queries */
@media screen and (min-width: 768px) {
    .product-hero {
        height: 60vh;
    }
    .heading-box .heading {
        color: white;
        font-size: 3rem;
    }
    .product-subtype-heading {
        font-size: 2rem;
    }

    .grid.product-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
    }
    .product-name {
        font-size: 1.4rem;
    }
    .sub-product-name {
        font-size: 1.2rem;
        color: gray;
    }
    .price {
        font-size: 1.4rem;
        font-weight: bold;
    }
    .view-info {
        margin: 1rem 0;
        font-size: 1.2rem;
        padding: .8rem 1.5rem;
    }
}
@media screen and (min-width: 1000px) {

    .product-content {
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 5rem;
        padding: 0 10rem;
    }
    .product-items {
        padding-left: 5rem;
        width: 80rem;
    }

    /* catagory */
    .btn-list {
        font-size: 1.8rem;
    }
    .catagory-item-sub a {
        font-size: 1.4rem;
    }

    /* product */
    .heading-box {
        padding: 2rem 2rem 2rem 10rem;
    }
    .grid.product-grid {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;
    }

}
@media screen and (min-width: 1200px) {
    .product-hero {
        height: 60vh;
    }

    .product-content {
        padding: 0 25rem;
    }
    .product-items {
        width: 100rem;
    }
    /* catagory */



    /* product */
    .heading-box {
        padding: 2rem 2rem 2rem 15rem;
    }
    .grid.product-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
    }
    .product-name {
        font-size: 1.5rem;
    }
    .sub-product-name {
        font-size: 1.3rem;
        color: gray;
    }
    .price {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .view-info {
        margin: 1rem 0;
        font-size: 1.3rem;
        padding: 1rem 2rem;
    }
    
}
@media screen and (min-width: 1600px) {
    .heading-box {
        padding: 2rem 2rem 2rem 25rem;
    }
    .heading-box .heading {
        font-size: 4.5rem;
    }

    .grid.product-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
    }
}
@media screen and (min-width: 1900px) {
    .grid.product-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
    }
}